DB_USER="db_user_here"
DB_PASSWORD="db_password_here"
DB_NAME="db_name_here"

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5433/DB_NAME?schema=public"
NODE_ENV='development'

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD="redis_password_here"

START_WORKERS=true //Automatically starts bullmq workers

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

JWT_SECRET="recoveros" //default
// ENCRYPTION_KEY for securing connectors with AES-256-GCM
ENCRYPTION_KEY=