DB_USER="db_user_here"
DB_PASSWORD="db_password_here"
DB_NAME="db_name_here"

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5433/DB_NAME?schema=public"
NODE_ENV='development'

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD="redis_password_here"

START_WORKERS=true //Automatically starts bullmq workers

JWT_SECRET="recoveros" //default
// ENCRYPTION_KEY for securing connectors with AES-256-GCM
ENCRYPTION_KEY=

FIREWORKS_API_KEY=fireworks_api_key_here
FIREWORKS_MODEL=accounts/fireworks/models/gpt-oss-120b
GROQ_API_KEY=groq_api_key_here

SHOPIFY_API_SECRET=shopify_api_secret_here
SHOPIFY_CHECKOUT_ABANDONMENT_DELAY_MS=